@model IEnumerable<WebCRUD1._1.Models.producto>

@{
    ViewBag.Title = "Producto";
}

<h2>Producto</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_producto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio_producto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio_producto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_producto }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id_producto }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id_producto })
        </td>
    </tr>
}

</table>
