@model WebCRUD1._1.Models.usuario_producto

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>usuario_producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.producto.nombre_producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.nombre_producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario.contraseña_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario.contraseña_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_up }) |
    @Html.ActionLink("volver", "Index")
</p>
