@model WebCRUD1._1.Models.usuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedula_usuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contraseña_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contraseña_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.cedula_usuario }) |
    @Html.ActionLink("Volver", "Index")
</p>
